{
  "nuget": "c:\\...",
  "solutions": {
    "sln1": "c:\\...",
    "sln2": "c:\\..."
  },
  "excludeBin": [
    "c:\\..",
    "c:\\.."
  ],
  "excludePackages": [
    "log4net.2.0.0",
    "xunit.5.5.5"
  ],
  "repo": "c:\\...",
  "packages": "c:\\...",
  "user": "UserName",
  "compiler": "c:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Enterprise\\MSBuild\\15.0\\Bin\\MSBuild.exe",
  "ide": "c:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Enterprise\\Common7\\IDE\\devenv.exe"
}
